<!DOCTYPE html>
<html>
  <body>
      <center>
    <div class="container">
            <div class="center">
  
                <h1 class="center" style="background-color:powderblue;">I am trying to guess your face emotion but smile ^^</h1>

                <img src="{{ url_for('four_Emos_vid') }}" width="50%">
                
                <form action= "/two_Emos" method="post">
                    <input type="submit" name="submit_button" value="Are you smiling">
                </form>

            </div>
    </div>
        </center>
      
      
    </body>


</html>